# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/target
/dist
/tmp
/out-tsc

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
nbactions.xml
nb-configuration.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
pom.xml.versionsBackup

# System Files
.DS_Store
Thumbs.db
